* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: dimgrey;
}
.card {
	width: 400px;
	background-color: aliceblue;
	border-radius: 8px;
    overflow: hidden;

	&_img {
		width: 100%;
	}
	&_body {
		padding: 10px 20px;
	}
	&_text {
		margin: 20px 0;
	}
	&_btns {
		display: flex;
		justify-content: space-around;
	}
	&_btn {
        padding: 10px 20px;
		border: solid black 1px;
        border-radius: 8px;
        cursor: pointer;
        &--highlight{
            background-color: rgb(17, 201, 17);
        }
	}
}
